* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #f1f1f1;
  line-height: 1.6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  color: #aaa;
}

.hero-buttons {
  margin-top: 20px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #555;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #222;
}

.primary {
  background: white;
  color: black;
}

/* VIDEO */
.video {
  padding: 20px 20px;
  text-align: center;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  max-width: 800px;
  margin: auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.section h2 {
  margin-bottom: 30px;
}

/* CARDS */
.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* PROJECTS GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CONTACT */
.contact {
  text-align: center;
}

.contact-links {
  margin-top: 20px;
}

.card-gif {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  opacity: 0.9;
  transition: transform 0.3s, opacity 0.3s;
}

.card-gif:hover {
  transform: scale(1.02);
  opacity: 1;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
}

.card-logos {
  display: flex;
  gap: 6px;
}

.card-logos img {
  height: 50px;
  max-width: 120px;
  width: auto;
  object-fit: contain;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .hero h2 {
    font-size: 1.8em;
  }
  .card-header img {
    flex-direction: column;
	align-items: flex-start;
  }
  .card-logo {
	  align-self: flex-end;
  }
  .card-logos img {
    height: 24px;
	max-width: 60px;
  }
}